# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage
/.nyc_output
/cypress/videos/
/cypress/screenshots/

# Next.js
/.next/
/out/
/build
.next
next-env.d.ts

# Production
/build
/dist
/.output

# Environment files
.env
.env*.local
.env.development
.env.test
.env.production

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.pem
.project
.classpath
*.launch
.settings/

# Vercel
.vercel
.turbo

# TypeScript
*.tsbuildinfo

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

# Misc
*.log
.DS_Store
*.pem
.cache
.temp
.tmp

# Local files
*.local

# Package managers
yarn.lock
package-lock.json
pnpm-lock.yaml
