//vivek.usw-18.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.c845cc05-3a28-4575-bbb4-f1061b8280bf/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@kaching:registry=https://vivek.usw-18.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.c845cc05-3a28-4575-bbb4-f1061b8280bf/contents/release/npm/
